* {
    padding: 0;
    margin: 0;
}

:root {}

body {

    font-family: 'Work Sans', sans-serif;


}

/* main {
    max-width: 1440px;
    margin: 0 auto;
} */


.o2,
.o3,
.o4 {

    max-width: 1440px;
    margin: 0px auto;
    margin-top: 120px;
}




/* nav */

.gamertag {
    color: #FF42A5;
}

header {
    
    width: auto;
    padding-bottom: 39px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1440px;
    margin: 0px auto;
    padding-top: 37px;

}

.navigation {
    display: flex;

}

.navigation img {

    width: 86.041px;
    height: 40px;

}

.navigation h3 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
}


.about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.about1{
    display: flex;
}

.about1>a {
    padding-right: 32px;
    text-decoration: none;
    color: #3C354F;

    font-size: 18px;
    font-weight: 500;

}

.about2 {

    display: flex;
    width: 262px;
    height: 56px;
    gap: 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    align-items: center;
}

.about2 h5 {
    padding-left: 24px;
    color: #3C354F;
    text-align: center;

    font-size: 18px;

    font-weight: 500;

}




/* Main part */


/* Banner */

.o1 {
    background-image: url(../images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left;

}


.banner {

    max-width: 1440px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;




}

.banner-content h2 {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;


}

.banner-content h1 {
    text-align: center;
    font-size: 95px;
    font-weight: 800;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}


.banner-content h6 {
    color: #534C64;

    font-size: 20px;
    font-weight: 500;

}


.btn1 {
    border-radius: 48px;
    background-color: #FF42A5;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;

    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.btn2 {
    border-radius: 48px;
    background: #4EC5F7;
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;


    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.banner-content-picture img {
    width: 100%;

}


/* Section 2 */

.o2>h3 {
    text-align: center;

    color: #0B0223;
    font-size: 48px;
    font-weight: 700;

}

.o2>p {
    text-align: center;

    color: #534C64;

    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}



.fourimage {
    display: flex;
    gap: 24px;

    position: relative;

}

.fourimage h4 {

    color: #534C64;
    font-size: 20px;  
    font-weight: 500;
    line-height: 30px;
}

.overlay {
    position: absolute;
    top: 150px;
    bottom: 0;
    left: 0px;
    right: 0;
    height: 50%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    text-align: center;
    padding-top: 0px;
    

}

.img1, .img2, .img3, .img4{
    position: relative;
}

.img1:hover .overlay {
    opacity: 1;
}
.img2:hover .overlay {
    opacity: 1;
}
.img3:hover .overlay {
    opacity: 1;
}
.img4:hover .overlay {
    opacity: 1;
}

.img1:hover {
    opacity: 0.5;
}
.img2:hover {
    opacity: 0.5;
}
.img3:hover {
    opacity: 0.5;
}
.img4:hover {
    opacity: 0.5;
}

.overlay i {
    padding-left: 20px;
    padding-bottom: 20px;
}

.overlay h5 {
    color: #FF42A5;

    /* text-align: center; */
    font-size: 20px;
    font-weight: 600;



}

.img1,
.img2,
.img3,
.img4 {
    width: 100%;
}







/* Section 3 */
.o3{
    
}


.collage {
    display: flex;
    justify-content: space-around;
    align-items: center;

   

    height: 726px;    
}

.collage-comment>h3 {

    color: #0B0223;
    font-size: 48px;
    font-weight: 700;

    text-align: right;

}

.collage-comment>p {
    width: 353px;
    text-align: right;
}





.prim {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cowboy{
    position: relative;
}
.cowboy>img {

    /* margin-left: 150px; */

    width: 100%;
}

.cowboy2 img {

    position: absolute;
    top: 350px;
    right: 500px;

}


/* section 4 */

.o4 {
    margin-top: 150px;
    margin-bottom: 120px;
}

.genre {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.haha {
    width: 248px;
    height: 80px;

    border: 0;
    border-radius: 50px;
    background: #FFF;

    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;

    color: #0B0223;
    font-size: 20px;
    font-weight: 600;


}

.haha:hover {

    border: 1px solid #F948B2;
    color: #F948B2;
}

.haha>img {
    /* padding-top: 10px;
    padding-left: 10px; */
}





/* footer */

.footer-dis {
    width: auto;
    height: 636px;

    background: #0B0223;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    padding-top: 120px;

}

.footer-dis>.navigation>h3 {
    color: #FFF;
}

.ourstory {
    display: flex;
    gap: 60px;

}

.ourstory>a {
    text-decoration: none;
    color: #FFF;
    text-align: center;

    font-size: 18px;
    font-weight: 600;

}

.iconbutton {
    display: flex;
    gap: 40px;

}


.footerbutton {
    width: 40px;
    height: 40px;

    background-color: #0B0223;
    border: 0;
    cursor: pointer;
}

.footanchor {
    display: flex;
    gap: 60px;


}

.footanchor>a {
    text-decoration: none;

    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;

}

.copy {
    text-align: center;
    padding-top: 18px;

    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-weight: 500;

}







@media screen and (max-width:576px) {


    .o1 {
        background-image: none;
       
    
    }

    .bannerbackground{
        height: 400px;  
        background-image: url(../images/Group\ 14.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }


    .banner-content{
         
        width: 400px;
        text-align: center;
    }
   
    .banner-content h2 { 
        padding-top: 80px;
        font-size: 28px;
    }

 .banner-content h1{
     font-size: 58px;
 }

 .banner-content h6 {

    font-size: 14px;
    
}

.btn1 {
    border-radius: 48px; 
    padding: 15px 20px; 
    font-size: 15px;
    
}

.btn2 {
    border-radius: 48px;
    padding: 15px 20px;
    font-size: 15px;  
    
}










header{
    /* padding: 20px; */
    box-shadow: none;
    margin-bottom: 100px;
}



.fourimage , nav,  .about, .about1, .banner{
    flex-direction: column;
    gap: 62px;
}

.o2, .o3{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.o3{
    margin-top: 50px;
}

.img1,.img2,.img3,.img4{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fourimage h4{
    text-align: center;
}

.about1{
    text-align: center;
}

.collage{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cowboy{
    display: flex;
    justify-content: center;
    align-items: center;

}

.cowboy img{
    width: 60%;
  

}

.cowboy2 img{
    width: 30%;
    left: 25px;
    top:1px;
    padding-top: 150px;
    

}

.collage-comment>h3 ,.collage-comment>p{
    text-align: center;
}

.collage-comment p {
    padding: 20px 0px;
}

.o4{
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.genre{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    
}


.haha{
    width: 80px;
    height: 40px;
    font-size: 10px;
    font-weight: 600;

}

.haha img{
    width: 25px;
    
}





.ourstory{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.ourstory a{
    font-size: 15px;
}


.iconbutton{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.footanchor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footanchor a{
    font-size: 15px;
}


}


/*  */
/*  */
/*  */



@media screen and (min-width:576px) and (max-width:960px) {
    
    .o1 {
        background-image: none;
    }

    .bannerbackground{
        height: 500px;  
        background-image: url(../images/Group\ 14.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

    }

    .banner-content{
        
     
        width: 600px;
        text-align: center;
    }
   
    .banner-content h2 { 
        font-size: 38px;
        padding-top: 100px;
    }

 .banner-content h1{
     font-size: 68px;
 }

 .banner-content h6 {

    font-size: 24px;
    
}

.btn1 {
    border-radius: 58px; 
    padding: 25px 30px; 
    font-size: 15px;
    
}

.btn2 {
    border-radius: 58px;
    padding: 25px 30px;
    font-size: 15px;  
    
}




    
header{
    /* padding: 20px; */
    box-shadow: none;
    margin-bottom: 100px;
}



.fourimage , nav,  .about, .about1, .banner{
    flex-direction: column;
    gap: 62px;
}

.o2, .o3{
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.img1,.img2,.img3,.img4{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fourimage h4{
    text-align: center;
}

.about1{
    text-align: center;
}

.collage{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.cowboy{
    display: flex;
    justify-content: center;
    align-items: center;

}

.cowboy img{
    width: 60%;
  

}

.cowboy2 img{
    width: 30%;
    left: 25px;
    top:1px;
    padding-top: 250px;
    

}

.collage-comment>h3 ,.collage-comment>p{
    text-align: center;
}

.collage-comment p {
    padding: 20px 0px;
}.collage-comment p {
    padding: 20px 0px;
}


.o4{
    display: flex;
    justify-content: center;
}

.genre{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40px;
    
}


.haha{
    width: 150px;
    height: 40px;
    font-size: 12px;
    font-weight: 600;

}

.haha img{
    width: 30px;
    
}




.ourstory{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.ourstory a{
    font-size: 15px;
}


.iconbutton{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.footanchor{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.footanchor a{
    font-size: 15px;
}


}

